scripts/.ipynb_checkpoints/
scripts/build/
data/
preproc_data/
results*/
run_scripts/
.DS_Store
config_files/FCC47_MUSE_preproc.properties
config_files/UGC00903_preproc_CaT.properties
config_files/UGC00903_preproc_Mgb.properties
config_files/fcc47.mask
